.wrapper {
    .logout-container {
        max-width: 50%;
        margin: 50px auto;

        .title {
            margin: 80px auto;
            text-align: center;
        }

        .button {
            max-width: 256px;
            margin: 50px auto;
        }
    }
}
